<!Document html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="DashboardStyle.css">
    <title>Dashboard</title>
</head>
<body>
    <div class ="side-menu">
        <div class= "brand-name">
            <h1> Profile </h1>
        </div>
        <ul>
            <li>Dashboard</li>
            <li>Name</li>
            <li>course</li>
            <li>help</li>
            <li>Setting</li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="knowBoost">
                    <h1>KnowledgeBoost</h1>
                </div>
                <div class="user">
                    <a href="#" class="btn">signout</a> <!-- link signout link -->
                    <div class="profile_img">
                        <img src="img/user.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>